.wrap {
  max-width: 900px;
  margin: auto;
  .form {
    padding: 20px;
    background: rgb(102, 250, 255);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input,
    textarea {
      max-width: 400px;
      min-width: 300px;
      border-radius: 12px;
      border: none;
      padding: 12px;
      font-size: large;
      margin: 10px;
    }
    textarea {
      resize: none;
      height: 150px;
    }
  }
}
